.Field{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  padding: 0px;
  
}

h1{
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
}

.Input-Area{
  margin-top: 10px;
  width: 100%;
}

.First-Buttons-Part{
  width: 100vw;
  display: flex;
  align-items: start;
  gap: 10px;
}

.Second-Buttons-Part{
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: start;
  gap: 10px;
}

.fiels{
  display: flex;
  align-items: center;
}



